RewriteEngine On
RewriteBase /cuentas_x_cobrar/public/

# Redirige todo menos archivos y carpetas existentes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
